nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
  border-bottom: 1px solid #ddd;
}
a {
  padding: 7px;
  font-weight: bold;
}
nav a:hover {
  background: linear-gradient(to bottom, #a8a8a8, #d3d3d3, #f0f0f0);
  color: #2c2c2c;
}
.right-nav {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
