.digital-marketing {
  width: 100%;
  color: #222;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #000000, #434343, #bdbdbd, #ffffff);
}

header {
  background: url('https://images.unsplash.com/photo-1702191158400-208a6a9bce12?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}
header h1 {
  color: #fff;
  font-size: 7em;
  margin: 0;
  font-family: courier;
  font-weight: 100;
  background: linear-gradient(90deg, #ffffff, #cccccc, #999999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header img {
  width: 99%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.digital-marketing {
  padding: 1rem;
  font-family: sans-serif;

  .head {
    text-align: center;
    margin-bottom: 1rem;

    h1 {
      font-size: 2rem;
    }
  }

  .category-and-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;

    .category-details,
    .input-search {
      flex: 1 1 100%;
    }

    .input-search input {
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
    .input-search input::placeholder {
      color: #fff;
    }
    .latest-articles {
      flex: 1 1 100%;

      h2 {
        font-size: 1.5rem;
      }
    }
  }

  .main {
    .post-box {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 1.5rem;
    }

    .post {
      background: #f9f9f9;
      padding: 1rem;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 0.5rem;
      }

      h2 {
        font-size: 1.2rem;
        margin: 0.5rem 0;
      }

      p {
        margin: 0.3rem 0;
        font-size: 0.95rem;
      }
    }
  }

  // Медиазапросы
  @media (max-width: 768px) {
    .category-and-search {
      flex-direction: column;
      align-items: stretch;
    }

    .head h1 {
      font-size: 1.5rem;
    }

    .latest-articles h2 {
      font-size: 1.2rem;
    }
  }
}

