.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    padding: 2rem;
    margin: 0 auto;
    color: white;
}
    h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        color: goldenrod;
        text-align: center;
    }

    .login-form {
        width: 100%;
        max-width: 400px;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        padding: 2rem;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .form-field {
        margin-bottom: 1.5rem;
    }
        label {
            display: block;
            color: lightgray;
            margin-bottom: 0.5rem;
            font-size: 0.9rem;
        }
        input {
            width: 100%;
            padding: 0.8rem 1rem;
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            background: rgba(255, 255, 255, 0.05);
            color: white;
            font-size: 1rem;
            transition: all 0.3s ease;
        }
        input:focus {
            outline: none;
            border-color: #f4ff57;
            box-shadow: 0 0 0 2px rgb(220, 244, 31, 0.2);
        }
        input::placeholder {
            color: darkgray;
        }
        #form-button {
            width: 100%;
            padding: 1rem;
            border: none;
            border-radius: 10px;
            background: linear-gradient(
                90deg,
                #b6862c 0%,
                #d4af37 20%,
                #f5e27c 40%,
                #fff9c4 50%,
                #f5e27c 60%,
                #d4af37 80%,
                #b6862c 100%
              );
            color: #000;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
        }
            button:hover {
                transform: translateY(-2px);
                box-shadow: 0 5px 15px rgb(245, 221, 66, 0.3);
            }
            p {
                margin-top: 1.5rem;
                text-align: center;
                color: darkgray;
            }
                small {
                    font-size: 0.9rem;
                }
        
                a {
                    color: white;
                    text-decoration: none;
                    font-weight: 600;
                    transition: all 0.3s ease;
                }
                Link {
                    color: darkgoldenrod;
                }
                   
                
    